.scheduleYourPresenceContainer {
  width: 1010px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 98px 0px;
}

.getInTouch {
  padding: 144px 0 159px;
  background-color: #ffffff;

}

.getInTouchBlock {
  display: flex;
  margin-right: 120px;
  gap: 120px;
}

.getInTouchBlock_texts {
  width: 534px;
}

.getInTouchBlock_subtittle {
  margin-top: 9px;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* width: 435px; */
}

.getInTouchBlock_text {
  margin: 23px 20px 43px;
}

.scheduleYourPresenceForm {
  margin-bottom: 120px;
}

.FirstBlockSubtittleYourPresence {
  color: #7A9CA5;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.FirstBlockTittleYourPresence {
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.FirstBlockYourPresence {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 65px 0 120px;
}


.getInToucDrop,
.getInToucVisit,
.getInToucVisitCall {
  display: flex;
  gap: 27px;
}

.getInToucDrop,
.getInToucVisit {
  padding-bottom: 30px;
}

.getInToucDropTittle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.getInToucDropSubtittle {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.flatLeft_formsYourPresence {
  display: grid;
  justify-content: center;
}

.scheduleYourInput {
  width: 810px;
  height: 65px;
  box-sizing: border-box;
  padding-left: 54px;
}

.note {
  height: 123px;
  width: 810px;
}

.scheduleformButton {
  width: 810px;
}


@media (max-width: 1080px) {
  .getInTouchBlock_img1{
    width: 400px;
  }

  .getInTouchBlock{
    gap: 60px;
  }
}

@media (max-width: 1058px) {
  .scheduleYourPresenceContainer{
    width: 550px;
  }

  .wrapper{
    text-align: center;
  } 

  .note, .scheduleYourInput{
    width: 410px;
  }

  .scheduleformButton{
    width: 410px;
  }
}

@media (max-width: 919px) {
  .getInTouchBlock{
    gap: 30px;
  }
}

@media (max-width: 881px) {
  .getInTouchBlock_img1{
    width: 350px;
  }
}

@media (max-width: 830px) {
  .getInTouchBlock_img1{
    display: none;
  }
}


@media (max-width: 467px) {
  .getInTouchBlock_subtittle{
    font-size: 40px;
  }
}

@media (max-width: 493px) {
  .scheduleYourPresenceContainer{
    width: 350px;
  }

  .note, .scheduleYourInput{
    width: 310px;
  }

  .scheduleformButton{
    width: 310px;
    padding: 0;
  }
}

@media (max-width: 355px) {
  .scheduleYourPresenceContainer{
    width: 300px;
    padding: 38px 0;
  }

  .note, .scheduleYourInput{
    width: 250px;
  }

  .scheduleformButton{
    width: 250px;
  }
}


