.HomePageContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.HomePageBody {
  background-color: #ebf3f5;
}

.Homehhh {
  display: flex;
}

.HomeText {
  padding-top: 235px;
  padding-right: 72px;
}

.HomeText_tittle {
  font-family: Playfair Display;
  font-size: 70px;
  font-weight: 700;
  max-width: 510px;
}

@media (max-width: 1155px) {
  .HomeText_tittle {
    font-size: 60px;
  }
}

@media (max-width: 900px) {
  .HomeText_tittle {
    font-size: 40px;
  }
}

@media (max-width: 860px) {
  .HomeImg2 {
    display: none;
  }

  .HomeText {
    padding-left: none;
    padding-right: 0;
  }

  .Homehhh {
    justify-content: center;
    text-align: center;
  }

  .HomeText_tittle {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .HomeText_tittle {
    font-size: 35px;
  }

  .HomeText_subtittle {
    font-size: 15px;

  }
}

.HomeText_subtittle {
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  max-width: 508px;
  margin: 24px auto 34px;
}

.HomeImg {
  position: right;
  max-width: 550px;
  height: 545px;
  margin-top: 190px;
  padding-bottom: 235px;
}

@media (max-width: 1070px) {
  .HomeImg2 {
    height: 450px;
  }
}

.HomeText_ButtonReservation {
  line-height: 4;
  border: none;
  background-color: #7a9ca5;
  color: #ffffff;
  width: 250px;
  height: 65px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
}

.HomeText_ButtonReservation:hover {
  background-color: #525959;
  color: white;
}

.HomePageProcedures {
  background-color: #fff;
  /* padding: 151px auto 150px; */
}

.HomePageBlocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 105px;
  padding: 120px 0;
}

@media (max-width: 1250px) {
  .HomePageBlocks {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

.BlockImg,
img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* @media (max-width: 350px) {

  .BlockImg,
  img {
    height: 150px;
  }
} */

.BlockText {
  margin: 26px auto 30px;
}

.BlockText_title {
  font-size: 26px;
}

.BlockText_button {
  padding: 24px;
  border: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #5c8692;
  width: 180px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  text-decoration: none;
}

.BlockText_button:hover {
  background-color: #525959;
  color: white;
  border-color: #525959;
}

.HomePageAboutUs {
  background: #ebf3f5;
  padding: 178px 0 150px;
}

.AboutUsBlock {
  display: flex;
}

@media (max-width: 983px) {
  .AboutUsBlock {
    justify-content: center;
  }
}

.AboutUs_leftBlock {
  text-align: left;
}

.leftBlock_top {
  padding-right: 125px;
}

.leftBlock_text {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 9px;
}

.leftBlock_tittle {
  max-width: 435px;
  font-weight: 700;
  font-size: 45px;
}

.leftBlock_subtittle {
  max-width: 529px;
  margin-bottom: 37px;
  padding: 16px 0 37px;
}

.AboutUsImg {
  position: right;
  max-width: 546px;
}

.leftBlock_cards {
  display: flex;
  gap: 10px;
}

@media (max-width: 450px) {
  .leftBlock_cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

  }
}

@media (max-width: 350px) {
  .leftBlock_cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }


}

.leftBlock_card {
  max-width: 165px;
  height: 180px;
  background: #ffffff;
  border: 1px solid #1e2c30;
  justify-content: center;
  align-items: center;
}

@media (max-width: 350px) {
  .leftBlock_card {
    max-width: none;
  }
}

.leftBlock_cardText {
  text-align: center;
  padding: 21px 33px;
}

.leftBlock_cardTittle {
  margin-top: 15px;
}

@media (max-width: 1090px) {
  .leftBlock_top {
    padding-right: 10px;
  }
}

@media (max-width: 983px) {
  .AboutUsImg>img {
    display: none;
  }
}




.ourServicesBlockContainer {
  max-width: 1198px;
  margin: 0 auto;
}

.ourServicesBlock {
  background: #fff;
  padding: 146px 0 145px;
}

.ourServicesBlock_text {
  text-align: center;
  justify-content: center;

}

.ourServicesBlock_subtittle {
  font-size: 45px;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 50px;

}

.ourContent {
  display: flex;
}

@media (max-width: 1106px) {
  .ourContentText, .ourContentText2{
    justify-content: center;
  }

  .ourContent{
    justify-content: center;
  }

  .ourContentText2, .ourContentText{
    margin: 0;
  }
}

@media (max-width: 940px) {

  .ourServicesFoto_1 {
    display: none;
  }

  .ourServicesFoto_2 {
    display: none;
  }

  .ourContent {
    justify-content: center;
  }
}

.ourContentText2 {
  margin: 128px 80px 0px 0px;
}

.ourContentText {
  margin: 30px 0px 0px 80px;
}

@media (max-width: 1106px) {

  .ourContentText,
  .ourContentText2 {
    margin: 0;
  }
}

.ourServicesFoto_1,
.ourServicesFoto_2 {
  width: 510px;
}

.ourContentText_1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
}

.ourContentText_1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}

.ourContentText_2 {
  font-size: 18px;
  line-height: 165%;
  padding: 5px 0 22px;
}

.ourContentTextBlock {
  border-bottom: 1px solid #9bb7bf;
}

.ourContentTextBlock:not(:last-child) {
  margin-bottom: 18px;
}

.ourServicesFoto_2 {
  width: 510px;
}

.ourContentButton {
  margin-top: 17px;
  margin-bottom: 124px;
  padding: 23px 34px;
  border: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #5c8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  text-decoration: none;
}

.ourContentButton:hover {
  background-color: #525959;
  color: white;
  border-color: #525959;
}

.ourContentButton .ourServicesFoto_1,
.ourServicesFoto_2 {
  width: 600px;
  height: 640px;
}

/* ------TestimonialsBlock----- */

.TestimonialsBlock {
  padding: 147px 0;
}

.TestimonialsBlock_text {
  /* max-width: 659px; */
  text-align: center;
  justify-content: center;
}

.TestimonialsBlock_subtittle {
  font-size: 45px;
  text-align: center;
  letter-spacing: -0.01em;
}

.TestimonialFeedback {
  background: #fff;
  width: 582px;
  height: 359px;
}

.TestimonialFeedback_user {
  background: #1e2c30;
  padding: 26px 51px 25px;
  display: flex;
}

.TestimonialFeedback_text {
  padding: 44px 48px;
  width: 435px;
  height: 146px;
  justify-content: center;
}

/* ?????????????????????? */
.TestimonialFeedback_text {
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
}

.TestimonialFeedback_userName {
  line-height: 160%;
}

.TestimonialFeedback_dataUser {
  max-width: 134px;
  margin-left: 20px;
  color: #fff;
}

.TestimonialFeedback_userFoto_1 {
  border: 2px solid #ffffff;
}

.TestimonialFeedback_userElement {
  margin-left: 178px;
}

.TestimonialReviews {
  padding-top: 40px;
  display: flex;
  gap: 36px;
}

@media (max-width: 1220px) {
  .TestimonialReviews {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 668px) {
  .TestimonialReviews {
    gap: 236px;
  }

  .TestimonialFeedback_userElement {
    margin-left: 100px;
  }

  .TestimonialFeedback_text {
    padding: 30px 44px;
  }

  .TestimonialFeedback {
    width: 482px;
    height: 259px;
  }
}

@media (max-width: 540px) {
  .TestimonialFeedback_text {
    width: auto;
    /* height: auto; */
  }

  .TestimonialFeedback {
    width: 370px;
  }

  .TestimonialFeedback_userElement {
    margin-left: 60px;
  }

  .TestimonialFeedback_text {
    font-size: 16px;
  }
}

@media (max-width: 370px) {
  .TestimonialFeedback {
    width: 282px;
  }

  .TestimonialFeedback_text {
    font-size: 14px;
  }

  .TestimonialFeedback_text {
    width: 240px;
  }

  .TestimonialFeedback_text {
    padding: 20px 20px;
  }

  .TestimonialFeedback_userElement {
    display: none;
  }


}

/* .TestimonialFeedback_dataUser{
  width: 232px;
} */

/*-----ourAwesome----- */

.ourAwesome {
  background: #fff;
  padding: 144px 0 161px;
}

.ourAwesome_text {
  /* max-width: 659px; */
  text-align: center;
  justify-content: center;
}

.ourAwesome_subtittle {
  font-size: 45px;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 43px;
}

.ourAwesome_catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 105px;
}


@media (max-width: 1024px) {
  .ourAwesome_catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .ourAwesome_catalog {
    grid-template-columns: repeat(1, 1fr);
  }
}


.product_textTittle {
  font-size: 26px;
  line-height: 120%;
}

.product_textTittle_1 {
  max-width: 226px;
  height: 62px;
}

.product_textSubTittle {
  font-size: 18px;
  line-height: 165%;
  letter-spacing: 0.02em;
  margin-top: 11px;
}

/* ---flatDiscount---- */

.flatDiscount {
  padding: 218px 0 131px;
}

.flatDiscountContent {
  display: flex;
}


@media (max-width: 1119px) {
  .flatDiscountContent {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .flatDiscountText_flat {
    padding-bottom: 37px;
    justify-content: center;
  }

  .flatDiscountTextForm {
    display: flex;
    justify-content: center;
  }
}

.flatDiscountText_subtittle {
  width: auto;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: -0.01em;
  margin-top: 5px;
}

.flatDiscountText_text {
  width: auto;
  font-size: 18px;
  line-height: 175%;
  margin: 14px 0 37px;

}

.flat {
  display: flex;
}

.flatRight {
  /* padding: 18px 40px 19px;
gap: 10px; */
  width: 288px;
  height: 145px;
  background: #ffffff;
  border: 1px solid #95bfcb;
}

.flatRight_mailUs {
  display: flex;
  padding: 18px 40px 19px 89px;
}

.flatRight_mailTittle,
.flatRight_callTittle {
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}

.flatRight_mailSubittle,
.flatRight_callSubittle {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}

.flatRight_callUs {
  padding: 0px 40px 19px 89px;

}

.flatLeft {
  display: flex;
  /* width: 167px;
  height: 144.75px; */
  background: #1e2c30;
  align-items: center;
  text-align: center;
  color: #fff;
  justify-content: center;
  padding: 12px 34px;
}

.flatLeft_text {
  width: 83px;
  /* height: 32px; */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 175%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

.flatLeft_text50 {
  font-weight: 800;
  font-size: 30px;
}

@media (max-width: 443px) {
  .flatRight_mailUs {
    display: flex;
    padding: 18px 0px 12px 35px;
  }

  .flatRight_callUs{
    padding: 18px 0px 12px 35px;
  }

  .flatRight {
    width: 700px;
    height: 145px;
    background: #ffffff;
    border: 1px solid #95bfcb;}

    .flatLeft{
      padding: 0;
    }
}


/* ----form----- */

.flatDiscountTextForm {
  display: flex;
}

.flatLeft_form {
  display: table-caption;
}

.flatLeft_forms {
  height: auto;
  width: 550px;
  background: white;
  text-align: center;
}

.formTextForm {
  padding: 66px 75px 66px;

}




.input {
  width: 400px;
  height: 65px;
  box-sizing: border-box;
  padding-left: 54px;

}


.textarea {
  width: 399px;
  height: 136px;
  box-sizing: border-box;
  padding: 18px 0 0 54px;
}

.latLeft_form_name {
  background: url(../../icons/User.svg) no-repeat;
}

.wrapper {
  position: relative;
  padding-bottom: 15px;
}

.iconName {
  padding: 21px 15px 20px;
  height: 1.5rem;
  width: 1.5rem;
  background: url(../../icons/User.svg) no-repeat;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.iconEmail {
  padding: 21px 15px 20px;
  height: 1.5rem;
  width: 1.5rem;
  background: url(../../icons/Mail.svg) no-repeat;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.iconPhone {
  height: 1.5rem;
  width: 1.5rem;
  padding: 21px 15px 20px;

  background: url(../../icons/Phone.svg) no-repeat;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.iconService {
  height: 1.5rem;
  width: 1.5rem;


  background: url(../../icons/Book.svg) no-repeat;
  position: absolute;
  box-sizing: border-box;
  margin-top: 32px;
  left: 15px;
  transform: translateY(-50%);
}

.iconAnyNote {
  height: 1.5rem;
  width: 1.5rem;
  padding: 21px 15px 20px;
  background: url(../../icons/Edit.svg) no-repeat;
  position: absolute;
  box-sizing: border-box;
  margin-top: 35px;
  left: 15px;
  transform: translateY(-50%);
}

.footerNavLink {
  display: grid;
}

.formButton {
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  padding: 23px 109px;
  gap: 10px;
  width: 399px;
  height: 64px;
  color: #fff;
  background: #5C8692;
}

.formButton:hover {
  background-color: #525959;
  color: white;
  border-color: #525959;
}

@media (max-width: 881px) {
  .flatLeft_forms {
    width: 450px;
  }

  .formTextForm {
    padding: 66px 15px;
  }

  .textarea,
  .input {
    width: 350px;
  }

  .iconName,
  .iconEmail,
  .iconPhone,
  .iconService,
  .iconAnyNote {
    left: 30px;
  }

}

@media (max-width: 436px) {
  .flatLeft_forms {
    width: 350px;
  }

  .textarea,
  .input {
    width: 250px;
  }

  .formButton{
width: 299px;
padding: 0;
  }

  .iconName,
  .iconEmail,
  .iconPhone,
  .iconService,
  .iconAnyNote {
    left: 30px;
  }
}

/* -------ourBlog------- */

.ourBlog {
  background: #fff;
  padding: 145px 0 150px;
}

.ourBlog_text {
  text-align: center;
}

.ourBlog_subtittle {
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.ourBlogBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 105px;
  padding: 40px 0 60px;
  justify-content: center;
}

@media (max-width: 1360px) {
  .ourBlogBlocks {
    gap: 50px;
  }
}

@media (max-width: 1250px) {
  .ourBlogBlocks {
    text-align: center;
    justify-content: center;
    grid-template-columns: none;
  }
}




.BlockText_ourBlog_text {
  font-size: 13px;
  line-height: 125%;
}

.BlockText_ourBlog_tittle {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin: 8px 0 14px;
}

.ourBlock_1,
.ourBlock_2,
.ourBlock_3 {
  background: #edf5f7;
}

.ourBlockIm {
  width: 370px;
  height: 325px;
}

@media (max-width: 437px) {
  .BlockImg>img {
    width: 200px;
    /* height: 325px; */
  }
}

.ourBlockText {
  /* width: 317px; */
  padding: 30px 26px 39px 26px;
}

.ourButton {
  width: 250px;
}

.ourBlockText_button {
  justify-content: center;
  text-align: center;
}

@media (max-width: 365px) {

.ourButton {
    width: 200px;
}

.ourBlockText{
  width: auto;
}
}


