.LocationPage {
  background-color: #ffffff;
}

/* .localionBlocks{
} */

.localionBlock {
  display: flex;
  margin-right: 120px;
  gap: 120px;
  margin-top: 120px;
}

.localionTexts {
  padding-top: 70px;
}

.localionRight {
  padding: 25px 0;
}

.localionBlockLast {
  padding-bottom: 120px;
}

.localionBlockButton {
  text-decoration: none;
  padding: 23px;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  gap: 10px;
  width: 250px;
  height: 65px;
  color: #fff;
  background: #5C8692;
}

.localionBlockButton:hover {
  background-color: #525959;
  color: white;
}

@media (max-width: 1132px) {
  .getInTouchBlock_img2 {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .localionBlock {
    gap: 60px;
  }
}

@media (max-width: 926px) {
  .localionBlock {
    gap: 30px;
  }
}

@media (max-width: 895px) {
  .getInTouchBlock_img2 {
    width: 350px;
  }
}

@media (max-width: 847px) {
  .getInTouchBlock_img2 {
    display: none;
  }
}

@media (max-width: 453px) {
  .getInTouchBlock_subtittle {
    width: 300px;
  }

  .localionRight{
    width: 300px;
  }
}


@media (max-width: 355px) {
  .getInToucDropSubtittle {
    font-size: 12px;
  }

  .getInTouchBlock_subtittle {
    font-size: 40px;
  }

  .FirstBlockTittle {
    font-size: 35px;
  }
}