.ServicesPageBlocks {
  background-color: #ffffff;

}

.ServicesPrices{
  padding: 50px 0 120px;

}

.ServicesBlock_text{
  padding-top: 120px;
}

.HomePageContainer2{
  width: 1198px;
}


.aboutPageFlatDiscount{
  padding: 113px 0;
}

.aboutPageFlatDiscountContainer{
  max-width: 644px;
  margin: 0 auto;
}

.flatDiscountText{
  justify-content: center;
}

.flatDiscountTexts{
  text-align: center;
}

.flatGet{
  display: flex;
  justify-content: center;
}

.flatText_subtittle{
  padding: 9px 0 14px;
  font-weight: 700;
font-size: 45px;
line-height: 130%;
text-align: center;
}

.flatText_text{
  font-weight: 400;
font-size: 18px;
line-height: 175%;
margin-bottom: 32px;
}

@media (max-width: 633px) {
  .ShareUsContentBlock2_img,  .ShareUsContentBlock2_img2, .ShareUsContentBlock1_img {
display: none;  }

.aboutPageFlatDiscount{
  padding: 0;
}
}

.getInTouchBlock_text{
  margin: 13px 0px 43px;
}

