.TeamSinglePage {
  background-color: #ffffff;
}

.TeamSinglePageContent {
  padding: 127px 0 128px;
}

.TeamSinglePageBlock {
  display: flex;
  gap: 127px;
}

.TeamSingleImg {
  width: 500px;
  height: 600px;
}

/* .TeamSinglePageTexts {
  width: 533px;
} */

.TeamSinglePageTittle {
  color: #7A9CA5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.TeamSinglePageUserName {
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.TeamSinglePageText {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 16px 0 30px;
}

.TeamSingleLittleBlock {
  display: flex;
  align-items: center;
}

.TeamSingleLittleBlockBorder {
  justify-content: center;
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  border: solid #7A9CA5;
  margin-right: 34px;
}

.TeamSingleLittleBlocks {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 34px;
}


.TeamSinglePagePhone,
.TeamSinglePageEmail {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}

.TeamSinglePageEmailButton{
  margin-top: 30px;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
  gap: 10px;
  width: 250px;
  height: 65px;
  color: #fff;
  background: #5C8692;
}

@media (max-width: 1008px) {
  .TeamSinglePageBlock {
    gap: 60px;
  }
}

@media (max-width: 931px) {
  .TeamSinglePageBlock {
    gap: 30px;
  }

  .TeamSingleImg{
    width: 400px;
    height: 500px;
  }
}

@media (max-width: 800px) {
  .TeamSingleImg{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 699px) {
  .TeamSinglePageBlock{
    display: block;
  }

  .TeamSingleImg{
    padding-bottom: 30px;
  }
}


@media (max-width: 367px) {
  .TeamSinglePagePhone, .TeamSinglePageEmail{
    font-size: 16px;
  }

  .TeamSingleLittleBlockBorder{
    margin-right: 20px;
  }
}


@media (max-width: 341px) {
  .TeamSingleImg {
    width: 250px;
    height: 250px;
  }
}
