.AuthPageContent {
  padding: 160px 0;
  background: #EBF3F5;
  display: flex;
  justify-content: center;
}

.AuthPageForm {
  background: #fff;

  display: flex;
  max-width: 769px;
  padding: 85px 75px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.AuthPageForm{
  justify-content: center;
  text-align: center;
}

@media (max-width: 746px) {
  .AuthPageForm{
    max-width: 469px;
    padding: 25px 45px;
  }
}

@media (max-width: 614px) {
  .AuthPageForm{
    max-width: 350px;
  }
}

@media (max-width: 470px) {
  .AuthPageForm{
    max-width: 300px;
  }

  .formButtonAuthPage{
    width: 350px;
  }
}

@media (max-width: 432px) {
  .AuthPageForm{
    max-width: 190px;
  }

  .formButtonAuthPage{
    width: 250px;
  }

  .getInTouchBlock_text{
    margin: 23px 15px 43px;
  }
}

@media (max-width: 408px) {
  .FirstBlockTittleAuthPage{
    font-size: 45px;
  }
}
