.TeamSinglePage {
  background-color: #ffffff;
}

.TeamSinglePageContent {
  padding: 127px 0 128px;
}

.TeamSinglePageBlock {
  display: flex;
  gap: 127px;
}

.TeamSingleImg {
  width: 538px;
  height: 685px;
}

.TeamSinglePageTexts {
  width: 533px;
}

.TeamSinglePageTittle {
  color: #7A9CA5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.TeamSinglePageUserName {
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.TeamSinglePageText {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 16px 0 30px;
}

.TeamSingleLittleBlock {
  display: flex;
  align-items: center;
}

.TeamSingleLittleBlockBorder {
  justify-content: center;
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  border: solid #7A9CA5;
  margin-right: 34px;
}

.TeamSingleLittleBlocks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 34px;
}


.TeamSinglePagePhone,
.TeamSinglePageEmail {
  color: #0000;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}